body {
    width: 1024px;
    margin: 0 auto;
    background-image: url(img/bg.png);
    font-family: 'Odibee Sans';
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.flex-container>div {
    width: 100px;
    background-color: #3042CF;
    margin: 10px;
    color: white;
    border-radius: 20%;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}